.loginSection {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  align-items: center;
  justify-content: center;
}
.logo {
  background-image: url("../../assets/mobilelogo.png");
  width: 183px;
  height: 63px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 43px;
}
.formContainer {
  display: flex;
  padding: 32px 25px 20px 25px;
  width: 230px;
  align-items: center;
  flex-direction: column;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  border-radius: 30px;
  -webkit-box-shadow: 9px 2px 24px -5px rgba(168, 168, 186, 1);
  -moz-box-shadow: 9px 2px 24px -5px rgba(168, 168, 186, 1);
  box-shadow: 9px 2px 24px -5px rgba(168, 168, 186, 1);
}
.form {
  width: 100%;
  background-color: white;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.paragraph {
  margin-bottom: 16px;
  font-size: 12px;
}
.paragraph:nth-of-type(1) {
  color: #52555f;
}
.paragraph:nth-of-type(2) {
  text-align: start;
}
.paragraphDiv {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.googleBttn {
  height: 40px;
  width: 122px;
  border: none;
  border-radius: 20px;
  background-color: #f5f6fb;
  cursor: pointer;
  align-items: center;
  display: flex;
  gap: 10px;
}
.googleBttn:hover {
  -webkit-box-shadow: 9px 2px 24px -5px rgba(168, 168, 186, 1);
  -moz-box-shadow: 9px 2px 24px -5px rgba(168, 168, 186, 1);
  box-shadow: 9px 2px 24px -5px rgba(168, 168, 186, 1);
}
.googlesymbol {
  background-image: url("../../assets/googlesymbol.png");
  width: 17.5px;
  height: 18px;
  background-size: contain;
  margin-left: 20px;
}
.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  font-size: 10px;
}
.form input {
  background-color: #f5f6fb;
  margin-top: 10px;
  border-radius: 20px;
  border: none;
  padding: 14px 20px 14px 20px;
}
.form input::placeholder {
  font-size: 12px;
}
.requiredSpan {
  margin-top: 5px;
  color: red;
}
.form button {
  width: 100%;
  height: 44px;
  border-radius: 12px;
  outline: none;
  border: none;
  background-color: #f5f6fb;
  font-size: 12px;
  font-weight: 600;
  -webkit-box-shadow: 9px 2px 24px -5px rgba(168, 168, 186, 1);
  -moz-box-shadow: 9px 2px 24px -5px rgba(168, 168, 186, 1);
  box-shadow: 9px 2px 24px -5px rgba(168, 168, 186, 1);
}

.form button:hover {
  background-color: #ff751d;
  color: white;
  cursor: pointer;
  -webkit-box-shadow: 16px 8px 28px -16px rgba(255, 146, 0, 0.91);
  -moz-box-shadow: 16px 8px 28px -16px rgba(255, 146, 0, 0.91);
  box-shadow: 16px 8px 28px -16px rgba(255, 146, 0, 0.91);
}

.bttnsDiv {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 5px;
  margin-top: 25px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .logo {
    background-image: url("../../assets/mobilelogo.png");
    width: 306.5px;
    height: 101px;
    margin-bottom: 80px;
  }
  .formContainer {
    width: 256px;
    padding: 55px 85px 55px 85px;
  }
  .form label {
    font-size: 12px;
    margin-bottom: 40px;
  }
  .googleBttn {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .wrapper {
    display: flex;
    margin-left: 15%;
  }
  .logo {
    background-image: url("../../assets/desktoplogo.png");
    width: 377px;
    height: 139px;
    margin-right: 155px;
    margin-top: 200px;
  }
}
